<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-8 col-md-6 mb-4">
    <div class="card border-left-primary shadow py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col-4">
                    <img src="/img/Hi.png" style="height: 250px;">
                </div>
                <div class="col-8">
                    <div class="h2 mb-0 font-weight-bold text-gray-800 pb-2">Hi, Selamat Datang Kembali</div>
                    <div class="h6 mb-0 text-gray-800">Aplikasi Inventaris PT. Jasamarga(Persero) Tbk, Cabang Purbaleunyi</div>
                </div>
            </div>
        </div>
    </div>
</div>