<!-- Input Alat Kantor modal -->
<div class="modal fade bd-example-modal-lg" id="inputModal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Input Peralatan Kantor</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <!-- FORM INPUT -->
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nama_barang">Nama Barang</label>
                            <input type="text" class="form-control form-control-sm" id="nama_barang"
                                placeholder="Printer">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="tanggal">Tanggal</label>
                            <input type="text" class="form-control form-control-sm" id="tanggal"
                                placeholder="13-may-11">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="kode_ruang">Kode Ruang</label>
                            <select id="koed_ruang" class="form-control form-control-sm">
                                <option selected>5077</option>
                                <option>5077</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="asal">Dari/Asal</label>
                            <input type="text" class="form-control form-control-sm" id="asal" placeholder="Kop.JMB.VI">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="unit_kerja">Unit Kerja</label>
                            <input type="text" class="form-control form-control-sm" id="unit_kerja" placeholder="15,250"
                                disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kode_dokumen">Kode Dokumen</label>
                            <select id="kode_dokumen" class="form-control form-control-sm">
                                <option selected>4</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="kode_barang">Kode Barang</label>
                            <select id="kode_barang" class="form-control form-control-sm">
                                <option selected>190504</option>
                                <option>....</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="harsat">Harsat [Rp]</label>
                            <input type="text" class="form-control form-control-sm" id="harsat" placeholder="6,260,000">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nomor_urut">Nomor Urut</label>
                            <input type="text" class="form-control form-control-sm" id="nomor_urut" placeholder="\065"
                                disabled>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kode_kondisi">Kode Kondisi</label>
                            <select id="kode_kondisi" class="form-control form-control-sm">
                                <option selected>2</option>
                                <option>2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="no_inventaris">Nomor Inventaris</label>
                            <input type="text" class="form-control form-control-sm" id="no_inventaris"
                                placeholder="15250/190504/\065">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="keterangan">Keterangan</label>
                            <input type="text" class="form-control form-control-sm" id="keterangan"
                                placeholder="15.250/19.05.02/065">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="merk">Type/Merk</label>
                            <input type="text" class="form-control form-control-sm" id="merk" placeholder="Intel">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="no_seri">No. Seri</label>
                            <input type="text" class="form-control form-control-sm" id="no_seri" placeholder="-">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>

        </div>
    </div>
</div>
<!-- END OF MODAL INPUT ALAT KANTOR-->