<style>
    .sidebar{
        background-color: #ffffff !important;
        position: sticky !important;
        height: 100%;
        width: 160px;
        z-index: 1000;
        top: 0;
        left: 0;
    }
</style>

<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion fixed-left toggled border-right p-2" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-road"></i>
        </div>
        
        <div class="sidebar-brand-text mx-3">JASAMARGA</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/">
            <i class="fas fa-fw fa-home"></i>
            <span style="font-size: 14px;">Dashboard</span></a>
    </li>


    <!--1. Inv Alat Kantor-->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - transaksi -->
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/pemeliharaanAlat">
            <i class="fas fa-fw fa-tools"></i>
            <span style="font-size: 14px;">Pemeliharaan Alat Kantor</span> </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Nav Item - pemeliharaan-->
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/">
            <i class="fas fa-fw fa-home"></i>
            <div style="font-size: 14px;">Transaksi Alat Kantor</div></a>
    </li>
    </li><!-- end heading Inv.Alat Kantor -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!--2. Inv. Bangunan-->
    <!-- Nav Item - data bangunan-->
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/dataBangunan">
            <i class="fas fa-fw fa-building"></i>
            <div style="font-size: 14px;">Data Bangunan</div></a>
    </li> <!-- end heading Inv. Bangunan -->

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!--3. Inv. Kendaraan-->
    <!-- Nav Item - data kendaraan-->
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/dataKendaraan">
            <i class="fas fa-fw fa-car"></i>
            <div style="font-size: 14px;">Data Kendaraan</div></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <li class="nav-item active">
        <a class="btn btn-outline-dark border-0" href="/pemeliharaanKend">
            <i class="fas fa-fw fa-truck-pickup"></i>
            <span style="font-size: 14px;">Pemeliharaan Kendaraan</span></a>
    </li>
    <!-- end heading Inv. Bangunan -->

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item active text-center">
        <a class="btn btn-outline-dark border-0" href="#">
            <i class="fas fa-user-circle"></i>
            <div style="font-sixe:14px">Log Out</div>
        </a>
    </li>


</ul>
<!-- End of Sidebar -->