<div class="container-fluid p-5">
    <div class="cetak-invoice">
        <div class="row">
            <div class="col-12">
                <div class="card m-b-20 p-3">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12">
                                <!-- header -->
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <img src="/TUBES/IF4207_KEL6/assets/images/logo-jasamarga2.png" alt="" style="width:300px;">
                                        <h6 class="font-weight-bold" style="margin-left:82px">CABANG PURBALEUNYI</h6>
                                    </div>
                                    <div class="col-6 m-t-0 text-right">
                                        <h4><strong></strong></h4>
                                    </div>
                                </div>
                                <!-- end header -->
                                <hr>
                                <center><h3 class="font-weight-bold">KARTU GANTUNG</h3></center>
                                <p class="text-muted m-l-5">
                                    <table>
                                        <tr>
                                            <th>UNIT KERJA</th>
                                            <th> :</th>
                                            <th>15,200</th>
                                            <th></th>
                                            <th></th>
                                            <th></th> <th></th>
                                            <th>CABANG PURBALEUNYI</th>
                                        </tr>
                                        <tr>
                                            <th>RUANG</th>
                                            <th> :</th>
                                            <th>0002</th>
                                            <th></th>
                                            <th></th>
                                            <th></th> <th></th>
                                            <th>Genset Kantor Cabang</th>
                                        </tr>
                                    </table>
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="">
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td><strong>No</strong></td>
                                                        <td class="text-center"><strong>NAMA BARANG</strong></td>
                                                        <td class="text-center"><strong>NO. INVENTARIS</strong></td>
                                                        <td class="text-center"><strong>JUMLAH</strong></td>
                                                        <td class="text-center"><strong>KONDISI</strong></td>
                                                        <td class="text-center"><strong>KETERANGAN</strong></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   <tr>
                                                        <td>1</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                   </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end row -->
                        
                    </div>
                    <hr> <!-- footer -->
                        <div class="row">
                                <div class="col-6">
                                    <div class="">
                                        <p style="font-size:12px">Hal. 1/616</p>
                                        <center>
                                            <p class="font-weight-bold" style="font-size:14px">Penanggung Jawab Barang<p>
                                            <br>
                                            <br>
                                            <p class="font-weight-bold" style="font-size:14px">HERNASAH SUKLATI</p>
                                            <P class="font-weight-bold" style="font-size:14px">NPP : 6340</P>
                                        </center>
                                        <p style="font-size:10px">NB: Pemindahan Barang Harus Dilaporkan Kepada Sub Bagian Logistik</p>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <p>Bandung, 23-Jun-20</p>
                                    <center>
                                            <p class="font-weight-bold" style="font-size:14px">Logistic Manager<p>
                                            <br>
                                            <br>
                                            <p class="font-weight-bold" style="font-size:14px">AAM SYAHRUL UMAM</p>
                                            <P class="font-weight-bold" style="font-size:14px">NPP : 6768</P>
                                    </center>
                                </div>
                        </div> <!-- end row footer -->
                </div>
            </div> <!-- end col -->
            
        </div> <!-- end row -->
    </div><!-- end div-print -->
</div>