<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Dokumen</th>
        <th scope="col">Cetak</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cetak Data Bangunan (DIB)</td>
        <td>
          <a href="">Cetak</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cetak Daftar Rumah Dinas</td>
        <td>
          <a href="">Cetak</a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- End of table -->