<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dokumen</th>
      <th scope="col">Cetak</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Kartu Gantung Per-unit Kerja</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Kartu Gantung Per-ruangan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Data Komputer Per-unit Kerja</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Data komputer & Printer per-unit</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Data Printer Per-unit Kerja</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Rekapitulasi Barang</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Rekap Barang Rusak Ringan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Data Pemeliharaan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- End of table -->