<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dokumen</th>
      <th scope="col">Cetak</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Daftar Semua Bangunan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Daftar Kendaraan Roda 4</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Daftar Kendaraan Roda 2</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Daftar Kendaraan Rusak</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Data Perbaikan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>LMB Tambah Kendaraan</td>
      <td>
        <a href="">Cetak</a>
      </td>
    </tr>

  </tbody>
</table>
<!-- End of table -->